<div class="container container-content">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center">
        <h1>Réservation confirmée!</h1>
        <p>Départ: <%= @booking.start_point.station %></p>
        <p>Arrivée: <%= @booking.end_point.address %></p>
        <p>Conducteur : <%= @booking.ride.user.first_name %> </p>
        <p>Arrivée de son train : le <%= @booking.ride.train_arrival_at.strftime(" %d %b %Y") %> à <%= @booking.ride.train_arrival_at.strftime("%Hh%M")  %></p>
        <p>Places réservées : <%= @booking.passenger_number %></p>
        <p>Prix total : A RAJOUTER</p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center bg-white soft-angle p- text-14">
        <%= @booking.ride.description %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-4">
      <div class="car-with-passengers text-center">
        <div class="car-passenger">
          <% if current_user.photo? %>
            <%= cl_image_tag current_user.photo.path, height: 40, width: 40, class: 'image-circle' %>
            <% else %>
            <%= image_tag 'default_avatar_pic.svg', height: 40, width: 40, class: 'image-circle' %>
            <% end %>
        </div>
        <div class="car-driver">
          <%= cl_image_tag @booking.ride.user.photo.path, height: 40, width: 40, class:'image-circle'  %>
        </div>
        <div class="car">
          <%= image_tag 'car.svg', height: 200, width: 200 %>
        </div>
      </div>
    </div>
</div>
