<div class="container container-content">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center">
        <% if @booking.state == "paid" %>
        <h1>Réservation confirmée!</h1>
        <%else%>
        <h1>Réservation en cours</h1>
        <%end%>
        <p>Départ: <%= @booking.start_point.station %></p>
        <p>Arrivée: <%= @booking.end_point.address %></p>
        <p>Conducteur : <%= @booking.ride.user.first_name %> </p>
        <p>Arrivée de son train : le <%= @booking.ride.train_arrival_date.strftime(" %d %b %Y") %> à <%= @booking.ride.train_arrival_time.strftime("%Hh%M")  %></p>
        <p>Places réservées : <%= @booking.passenger_number %></p>
        <p>Prix total : <%= humanized_money_with_symbol @booking.calculate_amount %> </p>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <div class="text-center bg-white soft-angle p- text-14">
        <%= @booking.ride.description %>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-4">
      <div class="car-with-passengers text-center">
        <div class="car-passenger">

          <%= cl_image_tag choose_photo_path(current_user), height: 40, width: 40, class:'image-circle'  %>

        </div>
        <div class="car-driver">
          <%= cl_image_tag choose_photo_path(@booking.ride.user), height: 40, width: 40, class:'image-circle'  %>
        </div>
        <div class="car">
          <%= image_tag 'car.svg', height: 200, width: 200 %>
        </div>
      </div>
    </div>
</div>

<% if @booking.state == "pending" %>

<%= form_tag booking_payments_path(@booking) do %>
  <article>
    <label class="amount">
      <span> Payer : <%= humanized_money_with_symbol(@booking.calculate_amount) %></span>
    </label>
  </article>

 <div>
    <%= form_tag bookings_path do %>
      <%= hidden_field_tag 'booking_id', @booking.id %>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="My Ride"
        data-email="<%= current_user.email %>"
        data-description="Booking <%= @booking.id %>"
        data-amount="<%= @booking.amount_cents %>"
        data-currency="<%= @booking.amount.currency %>"></script>

    <% end %>
    <% end %>

    <%else%>
    <div class="text-center">
      <h1> A très bientôt sur Totorminus </h1>
</div>
<% end %>

</div>

