<div class="container container-content">
  <div class="row">
    <div class="col-xs-12">

        <% if @booking.state == "paid" %>
        <h3 class="mb mt-- text-center">Réservation confirmée!</h3>
        <%else%>
        <h2 class="mb text-center">Confirmation de reservation</h2>
        <%end%>
        <div class="traject-confirmation">
          <p><strong class=" text-left color-totor-dark  ">Départ :</strong> <%= @booking.start_point.station %></p>

          <p><strong class=" text-left color-totor-dark ">Arrivée :</strong> <%= @booking.end_point.address %></p>
          <p><strong class=" text-left color-totor-dark ">Conducteur :</strong> <%= @booking.ride.user.first_name %> </p>
          <p><strong class=" text-left color-totor-dark ">Arrivée de son train :</strong> <%= @booking.ride.train_arrival_at.strftime(" %d %b %Y") %> à <%= @booking.ride.train_arrival_at.strftime("%Hh%M")  %></p>
          <p><strong class=" text-left color-totor-dark ">Places réservées :</strong> <%= @booking.passenger_number %></p>
        </div>

    </div>
  </div>
<% if @booking.state == "paid" %>
  <div class="row">
    <div class="col-xs-12 ">
      <div class="text-left traject-confirmation mt">
        <p>"<%= @booking.ride.description %>"</p>
        <p>Pour plus d'infos, appelez<strong> <%= @booking.ride.user.first_name %></strong> au <%= @booking.ride.user.phone_number %></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="car-with-passengers text-center">
        <div class="car-passenger">

          <%= cl_image_tag choose_photo_path(current_user), height: 40, width: 40, class:'image-circle'  %>

        </div>
        <div class="car-driver">
          <%= cl_image_tag choose_photo_path(@booking.ride.user), height: 40, width: 40, class:'image-circle'  %>
        </div>
        <div class="car">
          <%= image_tag 'car.svg', height: 200, width: 200 %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="text-center col-xs-10 col-xs-offset-1">
      <h3> A très bientôt sur </h3>
      <%= image_tag "logo.png", height: 50, class: "img-responsive" %>
    </div>
  </div>
<% end %>

<% if @booking.state == "pending" %>

<%= form_tag booking_payments_path(@booking) do %>
  <article class="text-center mt+ ml-- ">
    <label class="amount">
      <span> Payer : <%= humanized_money_with_symbol(@booking.calculate_amount) %></span>
    </label>
  </article>

 <div class="text-center mt-- ml--">
    <%= form_tag bookings_path do %>
      <%= hidden_field_tag 'booking_id', @booking.id %>

      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
        data-name="Mon trajet"
        data-email=" pour <%= current_user.email %>"
        data-description="Réservation <%= @booking.id %>"
        data-amount="<%= @booking.amount_cents %>"
        data-label="Payer"
        data-locale=auto
        data-currency="<%= @booking.amount.currency %>"></script>

    <% end %>
  </div>
<% end %>
<% end %>
  </div>
</div>

