<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo_cropped.png", height: 50 %>
  <% end %>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <% if user_signed_in? %>
        <% if current_user.photo? %>
          <%= cl_image_tag current_user.photo.path, crop: :fill, class: 'avatar dropdown-toggle' %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to edit_user_registration_path, method: :get do %>
                 <%= t(".profile", default: "My profile") %>
                <% end %>

            </li>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".profile", default: "Log out") %>
                <% end %>
            </li>
          </ul>
        <% else %>
          <% image_tag 'default_avatar_pic.png' %>
        <% end %>

        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>

      <% else %>
        <%= link_to t(".sign_in", default: "Login/Sign-up"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <% end %>

    </div>
  </div>
</div>

