<div class="container">
  <%= form_tag rides_path, method: 'get' do %>

    <div class="tagline mt">
      <div class="row">
        <div class="col-xs-12">
          <p>Rentre chez toi</p>
          <p>grâce à tes voisins de train !</p>
        </div>
      </div>
    </div>

    <div class="form-group mt mb30 ">
        <div class="row">
          <div class="col-xs-12">
            <p class= "m0">
              <input class="form-control truncate soft-angle height-form-60 font-16" type="text" name="search[start_point]" id="search-stations" placeholder="Gare d'arrivée" value= "<%= set_params(:start_point) %>">
            </p>
          </div>
        </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <p id="date-select" class="form-control soft-angle height-form-60 color-totor-light-gray font-16">
            <span> <%= params[:train_arrival_at].nil? ? "Date d'arrivée": params[:train_arrival_at] %>
            </span>
          </p>
        </div>
        <div class="col-xs-6">
          <p id="time-select" class="form-control soft-angle height-form-60 color-totor-light-gray font-16">
            <span>Heure d'arrivée</span>
          </p>
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="datetimepicker12" data-date="12/03/2012 12:00 PM" class= "">
          </div>
          <input type="hidden" name="train_arrival_at" id="hdp" value="<%= set_params(:train_arrival_at) %>">
        </div>
      </div>

    <div class="form-group mb30">
      <div class="row">
        <div class="col-xs-12">
          <input type="text" name="search[end_point]" class="form-control soft-angle height-form-60 font-16" id="dest" placeholder="Destination finale" required value= "<%= set_params(:end_point) %>">
        </div>
      </div>
    </div>

    <div class="form-group mb30">
        <div class="row">
          <div class="col-xs-12 ">
          <%= select(
            "search",
            "passenger_number",
            [
              ["1 passager", 1],
              ["2 passagers", 2],
              ["3 passagers", 3],
              ["4 passagers", 4],
              ["5 passagers", 5],
              ["6 passagers", 6],
              ["7 passagers", 7]
            ],
            {selected: choose_passenger_value},
            {class: "form-control soft-angle height-form-60 color-totor-light-gray font-16 mt"}
             ) %>
          </div>
        </div>
    </div>

    <div class="form-group mb">
      <input type="text" name="search[train_ref]" class="form-control soft-angle height-form-60 font-16" id="train-num" placeholder="Numéro de train" value= "<%= set_params(:train_ref) %>">
    </div>

    <input type="submit" name="submit-button" value =" Chercher un trajet" class="btn btn-default col-xs-12 soft-angle height-form-60 mb+" href="">
 <% end %>


  <%= image_tag "totorminus.gif", class: "loading hidden" %>

</div>


<div class="row">
  <div class="col-xs-offset-1 col-xs-12">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script>
      $('form').submit( function(event) {
        var formId = this.id,
            form = this;
        $(this).addClass("hidden");
        $(".loading").removeClass("hidden").addClass("show");

        event.preventDefault();

        setTimeout( function () {
            form.submit();
        }, 4000);
    });
    </script>
  </div>
</div>

