<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <h3 >Trajets disponibles</h3>
    </div>
  </div>
</div>

<% if @rides_same_train.any? %>
  <div class="rides-wrapper pb pt">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h2>Dans votre train !  </h2>
            <h3>  <%= @rides_same_train.first.train_arrival_at.strftime(" %d %b %Y") %></h3>
            <p ><%= @rides_same_train.first.start_point.station %> <strong>  Arrivée   </strong>     <%= @rides_same_train.first.train_arrival_at.strftime("%Hh%M") %>
            </p>
        </div>
      </div>

      <div class="row">
          <%= render 'ride', rides: @rides_same_train %>
      </div>
    </div>
  </div>
<% end %>

  <div class="container">
    <% @rides_not_same_train.each do |ride|%>

      <div class=" mt mb">
        <div class="row ">
          <div class="col-xs-offset-1 col-xs-10">
              <h3> <%= ride.train_arrival_at.strftime(" %d %b %Y")%></h3>
                <p ><%= ride.start_point.station %> <strong>  Arrivée   </strong>     <%= ride.train_arrival_at.strftime("%Hh%M") %>
                </p>
          </div>
        </div>
        <div class="row">
          <%= render 'ride', rides: @rides_not_same_train %>
        </div>
      </div>
    <% end %>
  </div>

