<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <h3 >Trajets disponibles</h3>
    </div>
  </div>
</div>

<div class="rides-wrapper">
  <div class="container">
    <div class="row">
      <h3>Dans votre train ! </h3>
    <%@matching_rides.each do |ride| %>
    <h3><%= ride.train_arrival_date %></h3>
   <p> <%= ride.user.first_name %> arrive à <%= ride.start_point.station %> à <%= ride.train_arrival_time.strftime("%Hh%M") %> </p>
   <p>il va  <%= ride.end_point.address %> en <%= ride.car_model %></p>
  </div>

    <%= link_to "go ", ride_path(ride, request.query_parameters) %>


    <% end %>

  </div>
</div>

