<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <div class= "mt+ mt+ mt+">
         <% if (@rides_same_train == [] && @rides_not_same_train == []) %>

          <h6> Désolé, aucun trajet n'est disponible
            <br> à ce moment de la journée
            <br> pour votre destination</h6>

          <h6> A très bientôt !</h6>


          <%= link_to "Revenir à la recherche", root_path, class: "btn btn-default col-xs-12 soft-angle  mt+ mt+ mb++ pd" %>
        </div>
      <% else %>

      <h3>Trajets disponibles</h3>

      <% end %>
    </div>
  </div>
</div>

<% if @rides_same_train.any? %>
  <div class="rides-wrapper pb pt">
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <h4 class="mt-text-color">Dans votre train ! </h4>
            <h5 class="mt-text-color">  <%= @rides_same_train.first.train_arrival_at.strftime(" %d %b %Y") %></h5>
            <h5 class="mt-text-color"><%= @rides_same_train.first.start_point.station %> <strong>  arrivée   </strong>     <%= @rides_same_train.first.train_arrival_at.strftime("%Hh%M") %>
            </h5>
        </div>
      </div>

      <div class="row">
          <%= render 'rides', rides: @rides_same_train %>
      </div>
    </div>
  </div>
<% end %>

  <div class="container">
    <% @rides_not_same_train.group_by(&:train_ref).each do |train_ref, rides|%>
      <div class=" mt mb">
        <div class="row ">
          <div class="col-xs-offset-1 col-xs-10">
              <h5> <%= rides.first.train_arrival_at.strftime(" %d %b %Y")%></h5>
                <h5 ><%= rides.first.start_point.station %> <strong>  arrivée   </strong>
                   <%= rides.first.train_arrival_at.strftime("%Hh%M") %>
                </h5>
          </div>
        </div>
        <div class="row">
          <%= render 'rides', rides: rides %>
        </div>
      </div>
    <% end %>
  </div>

