<div class="container">
  <div class = "row ">
    <div class= "col-xs-12 text-center">
      <h3 >Trajets disponibles</h3>
    </div>
  </div>
</div>

<div class="rides-wrapper">
  <div class="container">
    <div class="row">
      <h3>Dans votre train ! </h3>
      <p> Arrivant Gare-Saint-Charles à 18h30</p>
      <p><%= @station %></p>



    <%@rides.each do |ride| %>
   <p> <%= ride.user.first_name %> est dans votre train ! </p>
   <p>il va  <%= ride.end_point.address %> en <%= ride.car_model %></p>
  </div>

    <%= link_to "go ", ride_path(ride, request.query_parameters) %>


    <% end %>

  </div>
</div>

