<div class="container">
  <div class= "row">
    <div class="col-xs-12 pt pb ">
      <div class='ride-information-flex'>
      <div class="col-xs-3">
      <% if @ride.user.photo? %>
        <%= cl_image_tag @ride.user.photo.path, width: 50, height: 50, crop: :fill,class: 'image-circle', "data-toggle" => "dropdown" %>
        <% else %>
        <%= image_tag 'default_avatar_pic.svg', width: 50, height: 50, crop: :fill, class: 'image-circle', "data-toggle" => "dropdown" %>
        <% end %>
      </div>
      <div class="col-xs-9">
        <div>
          <h4>Trajet de <%= @ride.user.first_name %></h4>
          <div class='ride-information'>

          <p>Arrivant à : <%= @ride.start_point.station %>
          <br> Le  <%= @ride.train_arrival_at.strftime(" %d %b %Y") %> à <%= @ride.train_arrival_at.strftime(" %Hh%M")%> </p>
        </div>
        </div>
      </div>
    </div>
    </div>
    <div class= "row">
      <div class="step-progress">
      <div class="col-xs-8 pt+ pb+ ">
        <%= render 'stepprogress' %>
        </div>
      </div>

      <div class="col-xs-4 pt+ pb+ ">
        <div class="price">
        <h5 class="mb0"><%= @ride.price %> €</h5> <p> / pers.</p>
        </div>
      </div>
    </div>
  </div>

  <%= render 'googlemap' %>

<div>
  <%= simple_form_for [@ride, @booking] , wrapper: :inline_form do |f| %>
    <%= f.input :passenger_number,
    collection: [
      ["1 passager", 1],
      ["2 passagers", 2],
      ["3 passagers", 3],
      ["4 passagers", 4],
      ["5 passagers", 5],
      ["6 passagers", 6],
      ["7 passagers", 7]
    ],
    selected: choose_passenger_value,
    input_html: { class: "form-control soft-angle color-totor-light-gray font-16 mt" } %>

    <%= f.button :submit, "Réserver ce trajet", class: "btn btn-default col-xs-12 soft-angle   mb pd" %>
  <% end %>
  <%= link_to "Revenir à la liste de trajets", rides_path(request.query_parameters), class: "btn btn-default col-xs-12 soft-angle  mb++ pd" %>



</div>

</div>
