<div class="container">
  <div class= "row">
    <div class="col-xs-6 pt+ pb+ ">
    <% if @ride.user.photo? %>
      <%= cl_image_tag @ride.user.photo.path, width: 50, height: 50, crop: :fill,class: 'image-circle', "data-toggle" => "dropdown" %>
      <% else %>
      <%= image_tag 'default_avatar_pic.svg', width: 50, height: 50, crop: :fill, class: 'image-circle', "data-toggle" => "dropdown" %>
      <% end %>
      <%= @ride.user.first_name %>
    </div>
  </div>
  <div class= "row">
    <div class="col-xs-6 pt+ pb+ ">
      <%= render 'stepprogress' %>
    </div>

    <div class="col-xs-6 pt+ pb+ ">
      <%= @ride.price %> € / pers.
    </div>

  </div>
</div>

  <%= render 'googlemap' %>

<div>
  <%= simple_form_for [@ride, @booking] , wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
        <%# f.error_notification %>
   <!--  <%= f.input :passenger_number, placeholder: "Nbre de passagers", input_html: {value: choose_passenger_value} %> -->
    <%= f.input :passenger_number,
    collection: [
      ["1 passager", 1],
      ["2 passagers", 2],
      ["3 passagers", 3],
      ["4 passagers", 4],
      ["5 passagers", 5],
      ["6 passagers", 6],
      ["7 passagers", 7]
    ],
    selected: choose_passenger_value %>
    <%= f.button :submit, "Réserver ce trajet", class: 'soft-angle' %>
  <% end %>




</div>

</div>
